@import '../../public/assets/scss/variables.scss';

.vacationCard {
    display: flex;
    background: $background-light-1;

    .vacationTypeImg {
        padding: 14px 14px 24px 26px;
    }

    .vacationMainInfo {
        padding-top: 13px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
    }

    .vacationMainInfoSubmit {
        padding-top: 28px;
    }

    .createInfo {
        padding-top: 3px;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
    }

    .statusClassList {
        padding-top: 5px;
        font-style: italic;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: $text-blue-nA;
    }

    .approved {
        color: $approove;
    }

}

.vacationCard.odd {
    background: $background-light-white;
}
